<div class="main-content">
	<div class="nav nav-tabs" style="width:500px; border-top: 2px solid white;border-bottom: 2px solid white; margin-left:214px">
    <li role="presentation"><a href="#" style="color:#ACE7FF">MAP</a></li>
    <li role="presentation"><a href="#" style="color:#ACE7FF">USER DISCOVERY</a></li>
  </div>

<div class="grid">

	<div class="login">
		<app-login></app-login>
	</div>

	<div class="register">
		<app-register></app-register>
	</div>
	
</div>

<div class="mdl-layout__header-row">
    </div>

</div>