body{
  font-family: ariel, sans-serif;
}
#nav{
  background-size: cover;
}
#nav_wrapper{
  margin-left: auto;
  margin-right: auto;
  opacity: 0.87;
  filter: alpha (opacity=70);
}
#something{
  border-bottom: 3px solid lightblue;
  border-top: 3px solid lightblue;
}
#nav_wrapper ul li{
  list-style: none;
  display: inline;
  padding: 10px;
}

#nav_wrapper a{
  color: Black;
  text-decoration: none;
}

#nav_wrapper ul li:hover{
  background: lightblue;
  transition: all 0.45s;
}
