body{
  font-family: ariel, sans-serif;
}
#nav{
  width: 90%;
  background-size: cover;
}
#nav_wrapper{
  margin-left: auto;
  margin-right: auto;
  opacity: 0.87;
  filter: alpha (opacity=70);
}
#something{
  border-bottom: 3px solid rgb(63,81,181);
}
#nav_wrapper ul li{
  list-style: none;
  display: inline;
  padding: 10px;
}

#nav_wrapper a{
  color: White;
  text-decoration: none;
  font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0;
}


#right-side{
  float:right;
  margin-bottom: 20px;
}
#left-side{
  float:right;
  padding: 10px;
}

#flex-nav{
  display: flex;
  justify-content: center;
  width:100%;
  align-items: center;
}

.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: 0;
  background: #FFFFFF;
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}