<div id="nav">
    <div id="container-fluid">

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div id = "nav_wrapper">
            <ul id="something"> <br>
                <li><a routerLink="/map" routerLinkActive ="active">MAP</a></li>
                <li><a href="/userdisc" routerLinkActive ="active">USER DISCOVERY</a></li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</div>
  <router-outlet></router-outlet>
