agm-map {
	width: 100%;	
	height: 100%;
}
#mapDiv{
	width: 100%;
	height: 90vh;
}

#navButton{
	margin-left: 2%;
	margin-bottom: 1%;
}

#searchBar{
	margin-left: 2%;
}

#left-map{
	width:45%;
	height:90vh; 	
}

#becards{
	height: 600px;
	width: 100%;
	overflow: hidden;
	overflow-y: scroll;
}

#right-map{
	width:45%;
	height:100%;
}

#contain{
	display: flex;
	align-content: space-around;
	justify-content: space-around;
}