<!-- Authors Martin Symington (OC) & Paul Hohbaum -->
<!-- Chat button component -OC -->
<div class ="chatbar">
	<div class="chat-footer" style="position: fixed; bottom: 0px; right 0px;">
	<div class="chat-footer" id="chat-footer" style="position: fixed;">
        
		<button md-button class='chat-button' id="chat-button" type="button" (click)="openChat()" >Chat</button>
        
        <!--Chat footer buttons should(TM) go here -Paul-->
        
	</div>
	<!-- Sidebar component -OC -->
	<div id="chatSidenav" class="chat-sidebar">
	    <a class="material-icons" id="refresh-button" (click)="refreshSidebar()">refresh</a> <!-- Refresh Material Icon -OC -->
		<a class="material-icons" id="close-button" (click)="closeChat()">chevron_right</a> <!-- Right Chevron Material icon -OC -->

		<!-- Thes next 2 divs pertain to the content in the sidebar -Paul -->
		<div id="chatListUser" class="chat-list-user">
		<!-- Not really empty, filled dynamically -OC -->
		</div>

		<div id="chatListBeacon" class="chat-list-beacon">
		<!-- Not really empty, filled dynamically -OC -->
		</div>
	
	</div>
	
	<!-- Footer for chat popups -OC -->
	<div id="chatFooter" class="chat-footer">
	
	</div>
	
	<!-- IGNORE THIS BUTTON!!!! -OC -->
	<div class = "printingtest">
		<button class="testbutton" (click)="testfunc()">Click</button>
	</div>
</div>
