*{
	margin: 0;
}
html, body {
	height: 100%;
}
.chatbar {
	min-height: 100%;
	/* equal to footer height -OC */
	margin-bottom: -5px;
}
.chatbar:after {
	content: "";
	display: block;
}
.chat-footer, .chatbar:after {
	height: 5px;
}
.chat-button {
	position: fixed; bottom: 0; right: 0;
	font-size: 2em;
	background-color: #3333FF; /* Grey colour -OC */
	color: white;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	border: 2px solid #e7e7e7;
	padding: 14px 60px;
	border-radius: 4px;
}
.chat-list-user,.chat-list-beacon{

  text-align: left;

}
.chat-head-user, .chat-head-beacon{
	font-size: 20px;
	padding: 0 5px;
}
.testing{
	font-size: 16px;
	padding: 0 5px;
}
.chat-sidebar {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	right: 0;
	background-color: white; /* grey background -OC */
	overflow-x: hidden; /* disables horizontal scrolling -OC */
	padding-top: 60px; /*top padding for things inside -OC */
	transition: 0.5s; /* half a second slide into place -OC */
}
.chat-sidebar .close-chat {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 30px;
	margin-left: 50px;
}

.testbutton{
	position: fixed;
	top: 0;
	left:0;
}