<!-- Chat button component -OC -->
<div class ="chatbar">
	<div class="chat-footer" style="position: fixed; bottom: 0px; right 0px;">
		<button md-button class='chat-button' id="chat-button" type="button" (click)="openChat()" style="font-size: 20px">Chat</button>
	</div>
	<!-- Sidebar component -OC -->
	<div id="chatSidenav" class="chat-sidebar">
		<a href="javascript:void(0)" class="close-chat" (click)="closeChat()">&times;</a>

    <!-- Thes next 2 divs pertain to the content in the sidebar -Paul -->
    <div id="chatListUser" class="chat-list-user">

      <h2 class="chat-head-user">User Chat</h2>

    </div>

    <div id="chatListBeacon" class="chat-list-beacon">

      <h2 class="chat-head-beacon">Beacon Chat</h2>
	  <p class="testing"> This is text </p>

    </div>

	</div>
	<!-- IGNORE THIS BUTTON!!!! -OC -->
	<div class = "printingtest">
		<button class="testbutton" (click)="testfunc()">Click</button>
	</div>
</div>