/*
 Authors Martin Symington (OC) & Paul Hohbaum
*/
*{
	margin: 0;
}

html, body {
	height: 100%;
}
.chatbar {
	min-height: 100%;
	/* equal to footer height -OC */
	margin-bottom: -5px;
}
.chatbar:after {
	content: "";
	display: block;
}
.chat-footer, .chatbar:after {
	height: 5px;
}
.chat-button {
    border: none;
    border-radius: 2px;
	position: fixed; bottom: 0; right: 0;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
	font-size: 25px;
    font-weight: 450;
    letter-spacing: 0;
	background-color: #3f51b5; /* Blue colour -OC */
	color: white;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	/*border: 2px solid #e7e7e7;**/
	padding: 14px 60px;
	/*border-radius: 4px;**/
}
.chat-list-user,.chat-list-beacon{

  text-align: left;

}
.chat-head-user, .chat-head-beacon{
	font-size: 20px;
	padding: 0 5px;
}

.material-icons{
	text-decoration: none; /* That stupid underline thing was VERY annoying, so I scrapped it -OC */
}
#close-button{
	position: absolute;
	top: 0;
	right: 0;
	font-size: 4rem;
}
#refresh-button{
	position: absolute;
	top: 0;
	left: 0;
	font-size: 4rem;
	padding: 0 -4rem;
	
}
.chat-sidebar {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 3;
	top: 0;
	right: 0;
	background-color: white; /* White background -OC */
	overflow-x: hidden; /* Disables horizontal scrolling -OC */
	padding-top: 60px; /* Top padding for things inside -OC */
	transition: 0.5s; /* Half a second slide into place -OC */
}
.chat-sidebar .close-chat {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 30px;
	margin-left: 50px;
}

.chat-footer {
	height: 0; /* Let's see what happens when we flip properties of the sidebar to make a footer simmilar -OC */
	width: 100%;
	position: fixed;
	z-index: 0;
	bottom: 0;
	background-color: white; /* Except for this, thisis still white -OC */
	overflow-y: hidden;
	transition: 0.5s;
}

.testbutton{
	position: fixed;
	top: 0;
	left:0;
}