<body>
  <header>
    <div class="container">
      <div id="branding">
        <h1><span class="highlight">
          </span></h1>
      </div>
      
    </div>
  </header>
  <section id="boxes">
    <div class="container">
      <div class="box">
        
          <div class="Picture">
            <img src="https://i1.sndcdn.com/artworks-000102510409-ifa0zk-t500x500.jpg">
          </div>
          <div class="ChatBeacon">
            <form id="chatButton" style="width:500px">
              <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect">Chat</button>
              <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect">Invite to Beacon</button>
            </form>
          </div>
          <div class="School">
            <h1>Edit School</h1>
<p> <input type="text" size="5" name="School_profile" placeholder="School"> </p>
          <br />
        </div>
        <div class="About">
          <h1>Edit Biography</h1>
          <p> <input type="text" size="5" name="bio_profile" placeholder="biography"></p>
          <br />
        </div>
        <div class="Enrolled">
          <h1>Edit Classes Enrolled</h1>
          <table>
            <tr>
              <td><input type="text" size="5" name="courseone_profile" placeholder="courseone"></td>
              <td><input type="text" size="5" name="coursetwo_profile" placeholder="coursetwo"></td>
              
            </tr>
            <tr>
              <td><input type="text" size="5" name="coursethree_profile" placeholder="coursethree"></td>
              <td><input type="text" size="5" name="coursefour_profile" placeholder="coursefour"></td>

            </tr>
            <tr>
              <td><input type="text" size="5" name="coursefive_profile" placeholder="coursefive"></td>
              <td><input type="text" size="5" name="coursesix_profile" placeholder="coursesix"></td>

            </tr>
            <tr>
              <td><input type="text" size="5" name="courseseven_profile" placeholder="courseseven"></td>
              <td><input type="text" size="5" name="courseeight_profile" placeholder="courseeight"></td>

            </tr>
          </table>
          
          
        </div>
      </div>
    </div>

  </section>
</body>