<body>
  <header>
    <div class="container">
      <div id="branding">
        <h1><span class="highlight">
          </span></h1>
      </div>
      
    </div>
  </header>
  <section id="boxes">
    <div class="container">
      <div class="box">
        <h1>Name Change</h1>
        <P>
          <input type="text" size="5" name="firstname_profile" value="FirstName">
          <input type="text" size="5" name="lastname_profile" value="LastName">
          <div class="Picture">
            <img src="https://i1.sndcdn.com/artworks-000102510409-ifa0zk-t500x500.jpg">
          </div>
          <div class="ChatBeacon">
            <form id="chatButton" style="width:500px">
              <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect">Chat</button>
              <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect">Invite to Beacon</button>
            </form>
          </div>
          <div class="School">
            <h1>Edit School</h1>
<p> <input type="text" size="5" name="School_profile" value="School"> </p>
          <p>//USER SCHOOL FROM SERVER</p>
        </div>
        <div class="About">
          <h1>Edit Biography</h1>
          <p> <input type="text" size="5" name="bio_profile" value="biography"></p>
          <p>//USER SCHOOL FROM SERVER</p>
        </div>
        <div class="Enrolled">
          <h1>Edit Classes Enrolled</h1>
          <p> <input type="text" size="5" name="courseone_profile" value="courseone"></p>
          <p> <input type="text" size="5" name="coursetwo_profile" value="coursetwo"></p>
          <p> <input type="text" size="5" name="coursethree_profile" value="coursethree"></p>
          <p> <input type="text" size="5" name="coursefour_profile" value="coursefour"> </p>
          <p>//USER SCHOOL FROM SERVER</p>
        </div>
      </div>
    </div>

  </section>
</body>