<div class="mdl-layout mdl-layout--fixed-header">

	<div class="mdl-grid">
		<div class="mdl-cell mdl-cell--8-col">
			<h4>Login</h4>
		</div>

		<div class="mdl-cell mdl-cell--12-col mdl-grid mdl-grid--no-spacing">
			<form action="#">
				<div class="mdl-cell mdl-cell--10-col">
					<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
						<input id="email" class="mdl-textfield__input" id="email" />
						<label class="mdl-textfield__label" for="email">Email</label>
					</div>
					<div id="emailError" class="login-error"></div>
				</div>

				<div class="mdl-cell mdl-cell--10-col">
					<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
						<input id="password" class="mdl-textfield__input" type="password" id="password" />
						<label class="mdl-textfield__label" for="password">Password</label>
					</div>
					<div id="passwordError" class="login-error"></div>
				</div>

				<div class="mdl-cell mdl-cell--10-col">
					<button id="login" type="button" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--raised mdl-button--colored">
						Login
					</button>
					<button id="forgot" type="button" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--raised">
						Forgot Password
					</button>
				</div>
			</form>

		</div>
	</div>
</div>

