input[type=password]{
    background-color: transparent;
    border-top:none;
    border-left:none;
    border-right:none;
    box-shadow: none;
    padding-bottom: 26px;
}
.center{
	display: flex;
	align-items: center;
	justify-content: center;
}