<h1 style="margin-top: 150px;margin-left: 130px; color:white; font-size:30px">Login</h1>

<div class="form-horizontal text-center" style="margin-left: 220px; width:400px">
  
    <form action="#">
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" id="inputEmail3">
        <label class="mdl-textfield__label" for="email">Email</label>
     </div>
  </form>
    
  <form action="#">
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <input class="mdl-textfield__input" type="password" id="inputPassword3">
      <label class="mdl-textfield__label" for="password">Password</label>
    </div>
  </form>
  <div class="col-sm-6">
      <div class="checkbox">
          <input type="checkbox"> Remember me
      </div>
  </div>
  <div class="col-sm-6" style="margin-top: 10px">
      <a>
            <a href=#>Forgot Password?</a>
      </a>
  </div>
  <div class="form-group" style="margin-top: 60px">
      <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect">Login</button>
  </div>
</div>
