.beacon-card.mdl-card {
    width: 100%;
}
.beacon-card > .mdl-card__title {
    
}
.beacon-card > .mdl-card__supporting-text {
    text-align: left;
}
.mdl-progress {
    width: 100%;
}

.beacon-card > .mdl-card__actions {

}