<div id="search-page">
		<div class="panels" id="user-search-panel">
			<!-- Textfield with Floating Label -->
			<span class="search-title mdl-layout-title">Search User</span>
			<div id="search-input-forms">
				<form action="#">
					<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
						<input class="mdl-textfield__input" id="sample3" type="text"> <label class="mdl-textfield__label" for="sample3">Name</label>
					</div>
				</form>
				<form action="#">
					<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
						<input class="mdl-textfield__input" id="sample3" type="text"> <label class="mdl-textfield__label" for="sample3">Course</label>
					</div>
				</form>
				<form action="#">
					<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
						<input class="mdl-textfield__input" id="sample3" type="text"> <label class="mdl-textfield__label" for="sample3">School</label>
					</div>
				</form>
			</div><!-- Raised button with ripple -->
			 <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" id="search-send">SEARCH</button>
		</div>
		<div id="user-search">
			<div class="panels" id="user-cards-panel">
				<div class="main-panel mdl-card mdl-shadow--2dp">
					<!-- The Image Panel-->
					<div class="image-panel"><!-- User Gravatar -->
					<img class="image-handler" src="https://i1.sndcdn.com/artworks-000102510409-ifa0zk-t500x500.jpg"></div><!-- The Information Panel-->
					<div class="info-panel">
						<!-- User's Name-->
						<div style="padding-bottom:0px;display:flex">
							<h2 class="name-header">Doug Dimmadome</h2>
						</div><!-- User's School-->
						<div style="padding-top:0px;display:flex">
							<h2 class="school-header">School of Dim Sum Dimmadome</h2>
						</div><!-- User's Description-->
						<div class="description">
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque nec euismod odio. Vivamus euismod condimentum mauris, vitae cursus turpis euismod at. Donec at ipsum sed justo pellentesque pretium.
						</div><!-- The Bottom Border-->
						<div class="mdl-card__actions mdl-card--border">
							<!-- Invite To Beacon Button -->
							<a class="beacon-invites mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">Invite To Beacon</a>
						</div>
					</div>
				</div>
				<div class="main-panel mdl-card mdl-shadow--2dp">
					<!-- The Image Panel-->
					<div class="image-panel"><!-- User Gravatar -->
					<img class="image-handler" src="https://i1.sndcdn.com/artworks-000102510409-ifa0zk-t500x500.jpg"></div><!-- The Information Panel-->
					<div class="info-panel">
						<!-- User's Name-->
						<div style="padding-bottom:0px;display:flex">
							<h2 class="name-header">Doug Dimmadome</h2>
						</div><!-- User's School-->
						<div style="padding-top:0px;display:flex">
							<h2 class="school-header">School of Dim Sum Dimmadome</h2>
						</div><!-- User's Description-->
						<div class="description">
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque nec euismod odio. Vivamus euismod condimentum mauris, vitae cursus turpis euismod at. Donec at ipsum sed justo pellentesque pretium.
						</div><!-- The Bottom Border-->
						<div class="mdl-card__actions mdl-card--border">
							<!-- Invite To Beacon Button -->
							<a class="beacon-invites mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">Invite To Beacon</a>
						</div>
					</div>
				</div>
				<div class="main-panel mdl-card mdl-shadow--2dp">
					<!-- The Image Panel-->
					<div class="image-panel"><!-- User Gravatar -->
					<img class="image-handler" src="https://i1.sndcdn.com/artworks-000102510409-ifa0zk-t500x500.jpg"></div><!-- The Information Panel-->
					<div class="info-panel">
						<!-- User's Name-->
						<div style="padding-bottom:0px;display:flex">
							<h2 class="name-header">Doug Dimmadome</h2>
						</div><!-- User's School-->
						<div style="padding-top:0px;display:flex">
							<h2 class="school-header">School of Dim Sum Dimmadome</h2>
						</div><!-- User's Description-->
						<div class="description">
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque nec euismod odio. Vivamus euismod condimentum mauris, vitae cursus turpis euismod at. Donec at ipsum sed justo pellentesque pretium.
						</div><!-- The Bottom Border-->
						<div class="mdl-card__actions mdl-card--border">
							<!-- Invite To Beacon Button -->
							<a class="beacon-invites mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">Invite To Beacon</a>
						</div>
					</div>
				</div>
				<div class="main-panel mdl-card mdl-shadow--2dp">
					<!-- The Image Panel-->
					<div class="image-panel"><!-- User Gravatar -->
					<img class="image-handler" src="https://i1.sndcdn.com/artworks-000102510409-ifa0zk-t500x500.jpg"></div><!-- The Information Panel-->
					<div class="info-panel">
						<!-- User's Name-->
						<div style="padding-bottom:0px;display:flex">
							<h2 class="name-header">Doug Dimmadome</h2>
						</div><!-- User's School-->
						<div style="padding-top:0px;display:flex">
							<h2 class="school-header">School of Dim Sum Dimmadome</h2>
						</div><!-- User's Description-->
						<div class="description">
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque nec euismod odio. Vivamus euismod condimentum mauris, vitae cursus turpis euismod at. Donec at ipsum sed justo pellentesque pretium.
						</div><!-- The Bottom Border-->
						<div class="mdl-card__actions mdl-card--border">
							<!-- Invite To Beacon Button -->
							<a class="beacon-invites mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">Invite To Beacon</a>
						</div>
					</div>
				</div>
				<div class="main-panel mdl-card mdl-shadow--2dp">
					<!-- The Image Panel-->
					<div class="image-panel"><!-- User Gravatar -->
					<img class="image-handler" src="https://i1.sndcdn.com/artworks-000102510409-ifa0zk-t500x500.jpg"></div><!-- The Information Panel-->
					<div class="info-panel">
						<!-- User's Name-->
						<div style="padding-bottom:0px;display:flex">
							<h2 class="name-header">Doug Dimmadome</h2>
						</div><!-- User's School-->
						<div style="padding-top:0px;display:flex">
							<h2 class="school-header">School of Dim Sum Dimmadome</h2>
						</div><!-- User's Description-->
						<div class="description">
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque nec euismod odio. Vivamus euismod condimentum mauris, vitae cursus turpis euismod at. Donec at ipsum sed justo pellentesque pretium.
						</div><!-- The Bottom Border-->
						<div class="mdl-card__actions mdl-card--border">
							<!-- Invite To Beacon Button -->
							<a class="beacon-invites mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">Invite To Beacon</a>
						</div>
					</div>
				</div>
				<div class="main-panel mdl-card mdl-shadow--2dp">
					<!-- The Image Panel-->
					<div class="image-panel"><!-- User Gravatar -->
					<img class="image-handler" src="https://i1.sndcdn.com/artworks-000102510409-ifa0zk-t500x500.jpg"></div><!-- The Information Panel-->
					<div class="info-panel">
						<!-- User's Name-->
						<div style="padding-bottom:0px;display:flex">
							<h2 class="name-header">Doug Dimmadome</h2>
						</div><!-- User's School-->
						<div style="padding-top:0px;display:flex">
							<h2 class="school-header">School of Dim Sum Dimmadome</h2>
						</div><!-- User's Description-->
						<div class="description">
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque nec euismod odio. Vivamus euismod condimentum mauris, vitae cursus turpis euismod at. Donec at ipsum sed justo pellentesque pretium.
						</div><!-- The Bottom Border-->
						<div class="mdl-card__actions mdl-card--border">
							<!-- Invite To Beacon Button -->
							<a class="beacon-invites mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">Invite To Beacon</a>
						</div>
					</div>
				</div>
				<div class="main-panel mdl-card mdl-shadow--2dp">
					<!-- The Image Panel-->
					<div class="image-panel"><!-- User Gravatar -->
					<img class="image-handler" src="https://i1.sndcdn.com/artworks-000102510409-ifa0zk-t500x500.jpg"></div><!-- The Information Panel-->
					<div class="info-panel">
						<!-- User's Name-->
						<div style="padding-bottom:0px;display:flex">
							<h2 class="name-header">Doug Dimmadome</h2>
						</div><!-- User's School-->
						<div style="padding-top:0px;display:flex">
							<h2 class="school-header">School of Dim Sum Dimmadome</h2>
						</div><!-- User's Description-->
						<div class="description">
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque nec euismod odio. Vivamus euismod condimentum mauris, vitae cursus turpis euismod at. Donec at ipsum sed justo pellentesque pretium.
						</div><!-- The Bottom Border-->
						<div class="mdl-card__actions mdl-card--border">
							<!-- Invite To Beacon Button -->
							<a class="beacon-invites mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">Invite To Beacon</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
