h1{
    text-align: left;
    margin-left: 5%;
    color:white; 
    font-size:30px;
}
form{
    width: 620px;
}
.mdl-textfield__label{
    color: darkslategray;
}
.mdl-textfield{
    margin-right: 10px;
    float: left;
}
.mdl-textfield__input{
    margin-top: 7px;
    float: left;
    border-bottom: 1px solid darkslategray;
}
.mdl-checkbox{
     width: 110px;
}
.mdl-checkbox__label{
    float: left;
}
.tags{
    display: table-cell;
    padding-bottom: 10px;
}
.tag{
    margin-left: 10px;
    padding: 7px;
}
#locButton{
    background-color: #33691E;
}
#resetButton{
    background-color: #B71C1C;
}
#createButton{
    background-color: #33691E;
}
.mdl-checkbox__label{
    padding-left: 20px;
}
#flex-container{
    width: 45vw;
}
.center{
    display: flex;
    align-items: center;
    justify-content: center;
}

#desc{
    height: 200px;
}