<h1 style="margin-top: 60px;margin-left: 140px;color:white; font-size:30px">Create Beacon</h1>

<form class="form-horizontal text-center" style="margin-left: 90px;width:500px">


    <!-- Need to have host autofilled to user's name -->
  	<!-- <form action="#"> -->      
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" id="host">
		    <label class="mdl-textfield__label" for="host">Host</label>
      </div>
	  <!-- </form> -->

  	<!-- <form action="#"> -->
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" id="school">
		    <label class="mdl-textfield__label" for="school">School</label>
      </div>
	  <!-- </form> -->

  	<!-- <form action="#"> -->
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" id="courseCode">
		    <label class="mdl-textfield__label" for="courseCode">Course Code</label>
      </div>
	  <!-- </form> -->
 
    <!-- Need to time with date selector instead of input field -->
  	<!-- <form action="#"> -->
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" id="startTime">
		    <label class="mdl-textfield__label" for="startTime">Start Time</label>
      </div>
    <!-- </form> -->
      
  	<!-- <form action="#"> -->
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" id="endTime">
		    <label class="mdl-textfield__label" for="endTime">End Time</label>
      </div>
	  <!-- </form> -->

    <!-- Need to separate lat/lng and/or get it directly from map -->
  	<!-- <form action="#"> -->
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" id="endTime">
        <label class="mdl-textfield__label" for="endTime">Location</label>
      </div>
    <!-- </form> -->    
    <br>
    <div class="tags">    
      <label for="WiFi" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect">
        <input type="checkbox" id="chkWiFi" class="mdl-checkbox__input" checked>
        <span class="mdl-checkbox__label">WiFi</span>
      </label>
    </div>

    <div class="tags">
      <label for="Computers" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect">
        <input type="checkbox" id="chkComputers" class="mdl-checkbox__input">
        <span class="mdl-checkbox__label">Computers</span>
      </label>
    </div>

    <div class="tags">
      <label for="Outlets" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect">
        <input type="checkbox" id="chkOutlets" class="mdl-checkbox__input">
        <span class="mdl-checkbox__label">Outlets</span>
      </label>
    </div>

    <div class="tags">
      <label for="Whiteboard" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect">
        <input type="checkbox" id="chkWhiteboard" class="mdl-checkbox__input">
        <span class="mdl-checkbox__label">Whiteboard</span>
      </label>
    </div>

    <div class="tags">
      <label for="Projector" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect">
        <input type="checkbox" id="chkProjector" class="mdl-checkbox__input">
        <span class="mdl-checkbox__label">Projector</span>
      </label>   
    </div> 

  <div class="form-group" style="*margin-top: 60px">
      <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" onclick="validate()">Create</button>
  </div>


</form>



