.search{
	width: 100%;
	text-align: center;
}

label{
	font-size: 14px;
	display: inline-block;
	//border: black solid 1px;
}

.tags{
	display:inline-block;
	//border: black solid 1px;
}

.mdl-switch{
	width: 50%;
}

#search-button{
	margin-top: 10px;
}
.mdl-textfield__label{
    color: darkslategray;
}
.mdl-textfield__input{
	border-top: none;
    border-bottom: 1px solid darkslategray;
}
