<!-- This is only a temporary class to help me construct the parent class feel free to chjange it later -->
{{tags}} 
<div class ="search">
	<h5>Search Filter</h5>
	<form>

		<!--School filters -->
		<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
			<input class="mdl-textfield__input" type="text" name="schoolFilter" [(ngModel)]='schoolName' placeholder="School Name">
    		<label class="mdl-textfield__label" for="schoolFilter">School Name</label>
		</div>
		
		<!--Course filters -->
		<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
			<input class="mdl-textfield__input" type="text" name="courseFilter" [(ngModel)]='courseName' placeholder="Course Name">
    		<label class="mdl-textfield__label" for="courseFilter">Course Name</label>
		</div>

		<!--Time slider-->
		<div>
			<p style="padding-left:25%; padding-right:25%">
				Time Remaining (Hours): {{timeRemaining}}<input class="mdl-slider mdl-js-slider" type="range" min="0" max="24" value="0" tabindex="0" step="0.5" name="timeRemaining" [(ngModel)]="timeRemaining"> 
			</p>
		</div>

		<!--Tags-->
		<div>	
			<label for="checkbox">
				<img src="https://image.flaticon.com/icons/svg/149/149193.svg" style="width:30px;height:30px"> Wifi: <input type="checkbox" name="hasWifi" [(ngModel)]="hasWifi">
				<img src="https://image.flaticon.com/icons/svg/263/263082.svg" style="width:30px;height:30px"> Computers: <input type="checkbox" name="hasComputers" [(ngModel)]="hasComputers">
				<img src="https://image.flaticon.com/icons/svg/125/125639.svg" style="width:30px;height:30px"> Outlets: <input type="checkbox" name="hasOutlets" [(ngModel)]="hasOutlets">
				<img src="https://image.flaticon.com/icons/svg/43/43232.svg" style="width:30px;height:30px"> Whiteboard: <input type="checkbox" name="hasWhiteboard" [(ngModel)]="hasWhiteboard">
				<img src="https://image.flaticon.com/icons/svg/462/462388.svg" style="width:30px;height:30px"> Projector: <input type="checkbox" name="hasProjector" [(ngModel)]="hasProjector">
			</label>
			<button  class="mdl-button mdl-js-button mdl-js-ripple-effect" (click)="onApply()">Apply</button>
		</div>
	</form>
	{{clickMessage}}
</div>
