  <!-- <app-navbar></app-navbar> -->
<!-- This is only a temporary class to help me construct the parent class feel free to chjange it later -->
<div class ="search">
	<h5>Filter Beacons</h5>

	<form action="#">
		<!--School filters -->
		<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
			<input class="mdl-textfield__input" type="text" name="schoolFilter" [(ngModel)]='schoolName'>
    		<label class="mdl-textfield__label" for="schoolFilter">School Name</label>
		</div>
		
		<!--Course filters -->
		<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
			<input class="mdl-textfield__input" type="text" name="courseFilter" [(ngModel)]='courseName'>
    		<label class="mdl-textfield__label" for="courseFilter">Course Name</label>
		</div>

		<!--Time slider-->
		<div>
			<p style="padding-left:25%; padding-right:25%">
				Time Remaining (Hours): {{timeRemaining}}<input class="mdl-slider mdl-js-slider" type="range" min="0" max="24" value="0" tabindex="0" step="0.5" name="timeRemaining" [(ngModel)]="timeRemaining"> 
			</p>
		</div>

		<!--Tags-->
		<div class="tags">
			<img src="https://image.flaticon.com/icons/svg/149/149193.svg" style="width:30px;height:30px"> Wifi
			<label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="wifiSwitch">
 				<input type="checkbox" id="wifiSwitch" name="hasWifi" [(ngModel)]='hasWifi' class="mdl-switch__input" checked>
			</label>
		</div>

		<div class="tags">
			<img src="https://image.flaticon.com/icons/svg/263/263082.svg" style="width:30px;height:30px"> Computers
			<label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="computerSwitch">
 				<input type="checkbox" id="computerSwitch" name="hasComputers" [(ngModel)]='hasComputers' class="mdl-switch__input" checked>
			</label>
		</div>

		<div class="tags">
			<img src="https://image.flaticon.com/icons/svg/125/125639.svg" style="width:30px;height:30px"> Outlets
			<label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="outletSwitch">
 				<input type="checkbox" id="outletSwitch" name="hasOutlets" [(ngModel)]='hasOutlets' class="mdl-switch__input" checked>
			</label>
		</div>

		<div class="tags">
			<img src="https://image.flaticon.com/icons/svg/43/43232.svg" style="width:30px;height:30px"> Whiteboard
			<label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="whiteboardSwitch">
 				<input type="checkbox" id="whiteboardSwitch" name="hasWhiteboard" [(ngModel)]='hasWhiteboard' class="mdl-switch__input" checked>
			</label>
		</div>

		<div class="tags">
			<img src="https://image.flaticon.com/icons/svg/462/462388.svg" style="width:30px;height:30px"> Projector
			<label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="projectorSwitch">
 				<input type="checkbox" id="projectorSwitch" name="hasProjector" [(ngModel)]='hasProjector' class="mdl-switch__input" checked>
			</label>
		</div>

		<!--Button-->
		<div>
			<button  class="mdl-button mdl-js-button mdl-js-ripple-effect" (click)="onApply()">Apply</button>
		</div>

	</form>
</div>
