<body>
  <header>
    <div class="container">
      <div id="branding">
        <h1><span class="highlight">
          </span></h1>
      </div>
      
    </div>
  </header>
  <section id="boxes">
    <div class="container">
      <div class="box">
        <h1>Shujaat Bidar</h1>
        <div class ="Picture">
      <img src= "https://i1.sndcdn.com/artworks-000102510409-ifa0zk-t500x500.jpg">
        </div>
        <div class="ChatBeacon">
                <form id ="chatButton"style="width:500px">
              <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect">Chat</button> 
              <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect">Invite to Beacon</button> 
            </form>
        </div>
        <div class="School">
          <h1>School</h1>
          <p> Wilfrid Laurier University </p>
          <p>//USER SCHOOL FROM SERVER</p>
        </div>
        <div class="About">
          <h1>Biography</h1>
          <p> User Biography </p>
          <p>//USER SCHOOL FROM SERVER</p>
        </div>
        <div class="Enrolled">
          <h1>Classes Enrolled</h1>
          <p> CP104</p>
          <p> CP164</p>
          <p> CP213</p>
          <p> CP212 </p>
          <p>//USER SCHOOL FROM SERVER</p>
        </div>
      </div>
    </div>

  </section>
</body>