<body>
  <header>
    <div class="container">
      <div id="branding">
        <h1><span class="highlight">
          StudySpace
          </span></h1>
      </div>
      
    </div>
  </header>
  <section id="boxes">
    <div class="container">
      <div class="box">
        <h1>Virack D. Chhom</h1>
        <img src="//add user image link">
        <form id ="chatButton"style="width:500px">
          <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect">Chat</button> 
          <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect">Invite to Beacon</button> 
        </form>
        
        <h2>School</h2>
        <p>//USER SCHOOL FROM SERVER</p>
        <h3>About</h3>
        <p>//USER INFO FROM SERVER</p>
        <h4>Classes Enrolled</h4>
        <p>//USER INFO FROM SERVER</p>
      </div>
    </div>

  </section>
</body>
