<h1 style="margin-top: 60px;margin-left: 140px;color:white; font-size:30px">New? Register Today!</h1>

<div class="form-horizontal text-center" style="margin-left: 90px;width:400px">
  	<form action="#">
	  	<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
		    <input class="mdl-textfield__input" id="inputEmail3">
		    <label class="mdl-textfield__label" for="email">Email</label>
		 </div>
	</form>
  <form action="#">
	  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
	    <input class="mdl-textfield__input" type="password" id="inputPassword3">
	    <label class="mdl-textfield__label" for="inputPassword3">Password</label>
	  </div>
	</form>
	
  	<form action="#">
	  	<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
		    <input class="mdl-textfield__input" id="inputEmail3">
		    <label class="mdl-textfield__label" for="email">Confirm Email</label>
		 </div>
	</form>
 
	<form action="#">
	  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
	    <input class="mdl-textfield__input" type="password" id="inputPassword3">
	    <label class="mdl-textfield__label" for="password">Confirm Password</label>
	  </div>
	</form>
	
  <div class="form-group" style="*margin-top: 60px">
      <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" >Register</button>
  </div>
  <div class="col-sm-4"><hr></div><div class="col-sm-4">OR</div><div class="col-sm-4"><hr></div>
  <div class="form-group" style="margin-top: 10px">
      <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Sign in as Guest</button>
  </div>
</div>